# Node modules
node_modules/

# Environment variables
.env

# Google credentials
/config/credentials.json

# Logs
logs/
*.log

# System files
.DS_Store

# Uploads folder (temp files)
uploads/

# Token file (do NOT commit token.json)
/config/token.json

# Google API client secrets
client_secret.json